@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6EED2;
}

#tekstbox {
    background-color: #fdeeb7;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        padding: 23px;
        box-shadow: 0 5px 25px rgb(114, 0, 0);
        transition: 0.7s ease;
        margin-left: 20%;
        margin-top: 345px;
        text-align: center;
}

h1{
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}

h3{
    font-family: 'Poor Story', cursive;
    font-size: 24px;
}

#logobox {

    background-color: rgb(114, 0, 0, 0.50);
    position: absolute;
    border: white groove 3px;
    border-radius: 20px;
    left: 46.5%;
    top: 50px;
    width: 100px;
    height: 140px;
}

#logo {

    width: 100px;
    left: 46.75%;
    top: 55px;
    position: absolute;
    
}

#sprong {
    
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;

}

.boxes {

    background: rgb(114, 0, 0, 0.50);
    position: absolute;
    width: 157px;
    height: 74px;
    border: white groove 3px;
    border-radius: 20px;
    
    
}
    .boxes:hover {

        transform: scale(1.4);
    }

/*Aparte css voor de menu boxes*/

#Menu1 {
    background-color: rgb(255, 117, 93);
    left: 5%;
    top: 80px;
}

#Menu2 {

    left: 19%;
    top: 80px;
}

#Menu3 {

    left: 33%;
    top: 80px;
}

#Menu4 {

    left: 57.8%;
    top: 80px;
}

#Menu5 {

    left: 72%;
    top: 80px;
}

#Menu6 {

    left: 86%;
    top: 80px;
}

.textmenu {

    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 20px;
}
