body{
    background-color: #F6EED2
}
#logobox {
        background-color: rgb(114, 0, 0, 0.50);
        position: absolute;
        border: white groove 3px;
        border-radius: 20px;
        left: 46.5%;
        top: 50px;
        width: 100px;
        height: 140px;
    }
    #logo {
        width: 100px;
        left: 46.25%;
        top: 55px;
        position: absolute;
    }
    #sprong {
        width: 100%;
        height: auto;
        position: absolute;
        right:  0px;
        top: 0px;
        z-index: -1;
    }
    .boxes {
        background: rgb(114, 0, 0, 0.50);
        position: absolute;
        width: 157px;
        height: 74px;
        border: white groove 3px;
        border-radius: 20px;
    }
    #Menu1 {
        left: 5%;
        top: 80px;
    }
    #Menu2 {
        left: 19%;
        top: 80px;
    }
    #Menu3 {
        left: 33%;
        top: 80px;
    }
    #Menu4 {
        left: 57.8%;
        top: 80px;
    }
    #Menu5 {
        left: 72%;
        top: 80px;
    }
    #Menu6 {
        left: 86%;
        top: 80px;
    }
    .textmenu {
        text-align: center;
        color: white;
        font-size: 25px;
    }
    #tekst{
    width:50%;
    height:552px;;
    background-color:  #fdeeb7;
    margin-left:25%;
    margin-top:380px;
    padding: 25px;
    text-align: center;
    font-family: 'Poor Story', cursive;
}