/*Essenciele dingen*/

body {

    background-color: #F6EED2;
    height: 1000px;
}

/*Header*/

#logobox {

    background-color: rgb(114, 0, 0, 0.50);
    position: absolute;
    border: white groove 3px;
    border-radius: 20px;
    left: 46.5%;
    top: 50px;
    width: 100px;
    height: 140px;
}

#logo {

    width: 100px;
    left: 46.75%;
    top: 55px;
    position: absolute;
    
}

#sprong {
    
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    border-bottom: groove black 4px;

}

.boxes {

    background: rgb(114, 0, 0, 0.50);
    position: absolute;
    width: 157px;
    height: 74px;
    border: white groove 3px;
    border-radius: 20px;
    
    
}
    .boxes:hover {

        transform: scale(1.4);
    }

/*Aparte css voor de menu boxes*/

#Menu1 {

    left: 4%;
    top: 80px;
}

#Menu2 {

    left: 18%;
    top: 80px;
}

#Menu3 {

    left: 32%;
    top: 80px;
}

#Menu4 {

    left: 56.8%;
    top: 80px;
}

#Menu5 {

    left: 71%;
    top: 80px;
}

#Menu6 {

    left: 85%;
    top: 80px;
}

/*dropdown*/

.dropdown-content {

    display: none;
    position: absolute;
    background-color: rgb(114, 0, 0, 0.50);
    width: 157px;
    border: white groove 3px;
    z-index: 1;
}

/*Menu boxen*/

.Menuboxen {

    background-color: #fdeeb7;
    width: 300px;
    height: 150px;
    margin: 30px;
    top: 300px;
    position: relative;
    left: 0%;
}

.Menuboxen2 {

    background-color: #fdeeb7;
    width: 300px;
    height: 150px;
    margin: 30px;
    bottom: 240px;
    position: relative;
    left: 25.5%;
}

.Menuboxen3 {

    background-color: #fdeeb7;
    width: 300px;
    height: 150px;
    margin: 30px;
    bottom: 780px;
    position: relative;
    left: 50%;
}

.Menuboxen4 {

    background-color: #fdeeb7;
    width: 300px;
    height: 150px;
    margin: 30px;
    bottom: 1320px;
    position: relative;
    left: 75.5%;
}



/*Footer*/

footer {

    background-color: #fdeeb7;
    width: 101%;
    height: 175px;
    position: relative;
    top: -1250px;
    right: 8px;
}

/*Andere deco*/

.textmenu {

    text-align: center;
    color: white;
    font-size: 25px;
}

#footertext {

    padding: 40px;
}

#footerlink {

    text-align: right;
    bottom: 100px;
    position: relative;
}


