@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/*Essenciele dingen*/

body {

    background-color: #F6EED2;
    height: 1000px;
}

/*Header*/

#logobox {

    background-color: rgb(114, 0, 0, 0.50);
    position: absolute;
    border: white groove 3px;
    border-radius: 20px;
    left: 46.5%;
    top: 50px;
    width: 100px;
    height: 140px;
}

#logo {

    width: 100px;
    left: 46.75%;
    top: 55px;
    position: absolute;
    
}

#sprong {
    
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    border-bottom: groove black 4px;

}

.boxes {

    background: rgb(114, 0, 0, 0.50);
    position: absolute;
    width: 157px;
    height: 74px;
    border: white groove 3px;
    border-radius: 20px;
    
    
}
    .boxes:hover {

        transform: scale(1.4);
    }

/*Aparte css voor de menu boxes*/

#Menu1 {

    left: 4%;
    top: 80px;
}

#Menu2 {
    background-color: rgb(255, 117, 93);
    left: 18%;
    top: 80px;
}

#Menu3 {

    left: 32%;
    top: 80px;
}

#Menu4 {

    left: 56.8%;
    top: 80px;
}

#Menu5 {

    left: 71%;
    top: 80px;
}

#Menu6 {

    left: 85%;
    top: 80px;
}

/*dropdown*/

.dropdown-content {

    display: none;
    position: absolute;
    background-color: rgb(114, 0, 0, 0.50);
    width: 157px;
    border: white groove 3px;
    z-index: 1;

}

/*Menu boxen*/

.Menuboxenspec {

    background-color: #fdeeb7;
    width: 350px;
    height: 200px;
    box-shadow: 0 5px 25px rgb(114, 0, 0);
}

#Menubox1 {

    position: absolute;
    left: 5%;
    top: 1700px;
    transform: translate(-5% );
}

#Menubox2 {

    position: absolute;
    left: 20%;
    top: 1450px;
    transform: translate(-20% );
}

#Menubox3 {

    position: absolute;
    left: 50%;
    top: 1300px;
    transform: translate(-50% );
}

#Menubox4 {

    position: absolute;
    left: 80%;
    top: 1450px;
    transform: translate(-80% );
}

#Menubox5 {

    position: absolute;
    left: 95%;
    top: 1700px;
    transform: translate(-95% );
}

#kaart {

    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 750px;
    transform: translate(-50% );
}

/*Footer*/

footer {

    background-color: #fdeeb7;
    width: 101%;
    height: 175px;
    position: absolute;
    top: 2000px;
    right: 8px;
}

#footertext {

    padding: 40px;
}

#footerlink {

    text-align: right;
    bottom: 100px;
    position: relative;
}

/*Andere deco*/

.textmenu {

    text-align: center;
    color: white;
    font-size: 25px;
}

#spectext {
    
    position: relative;
    text-align: center;
    top: 1135px;
    font-family: "poor story";
    font-size: 60px;
}

#South_Africa {

    position: absolute;
    left: 50%;
    top: 1600px;
    width: 300px;
    height: auto;
    transform: translate(-50% );
    border: 5px groove black;
}




