/*Essenciele dingen*/

body {

    background-color: #F6EED2;
    height: 1000px;
}

/*Header*/

#logobox {

    background-color: rgb(114, 0, 0, 0.50);
    position: absolute;
    border: white groove 3px;
    border-radius: 20px;
    left: 46.5%;
    top: 50px;
    width: 100px;
    height: 140px;
}

#logo {

    width: 100px;
    left: 46.75%;
    top: 55px;
    position: absolute;
    
}

#sprong {
    
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    border-bottom: groove black 4px;

}

.boxes {

    background: rgb(114, 0, 0, 0.50);
    position: absolute;
    width: 157px;
    height: 74px;
    border: white groove 3px;
    border-radius: 20px;
    
    
}
    .boxes:hover {

        transform: scale(1.4);
    }

/*Aparte css voor de menu boxes*/

#Menu1 {

    left: 4%;
    top: 80px;
}

#Menu2 {
    background-color: rgb(255, 117, 93);
    left: 18%;
    top: 80px;
}

#Menu3 {

    left: 32%;
    top: 80px;
}

#Menu4 {

    left: 56.8%;
    top: 80px;
}

#Menu5 {

    left: 71%;
    top: 80px;
}

#Menu6 {

    left: 85%;
    top: 80px;
}

/*dropdown*/

.dropdown-content {

    display: none;
    position: absolute;
    background-color: rgb(114, 0, 0, 0.50);
    width: 157px;
    border: white groove 3px;
    z-index: 1;

}

/*Menu boxen*/

.Menuboxenspec {

    background-color: #fdeeb7;
    width: 300px;
    height: 150px;
    margin: 30px;
    position: relative;
    
}

#Menubox1 {

    position: relative;
    
    top: 1615px;
}

#Menubox2 {

    position: relative;
    left: 200px;
    top: 1250px;
}

#Menubox3 {

    position: relative;
    left: 500px;
    top: 880px;
}

#Menubox4 {

    position: relative;
    left: 800px;
    top: 890px;
}

#Menubox5 {

    position: relative;
    left: 1200px;
    top: 895px;
}

#kaart {

    position: absolute;
    top: 400px;
    width: 50%;
    height: 750px;
}

/*Footer*/

footer {

    background-color: #fdeeb7;
    width: 101%;
    height: 175px;
    position: relative;
    top: 1000px;
    right: 8px;
}

#footertext {

    padding: 40px;
}

#footerlink {

    text-align: right;
    bottom: 100px;
    position: relative;
}

/*Andere deco*/

.textmenu {

    text-align: center;
    color: white;
    font-size: 25px;
}

#South_Africa {

    position: absolute;
    left: 500px;
    bottom: 2000px;
    width: 200px;
    height: auto;
}




